.Pokemones{
    display: flex;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    gap: 20px;
}
h1{
    display: flex;
    height: 100px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}
article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}